/* mobile view */
.container {
  padding: 96px 0;
}
/* HEADER */
.header{
  width: 100%;
  padding: 19px 0;
  margin: 0 auto;
  min-width: 320px;
  position: sticky;
  top:0px;
}

.nav{
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.address-list,
.nav-list {
  display: none;
}

.logo-header {
  margin: 0;
}

.mobile-menu-open {
  width: 32px;
  height: 22px;
  background-color: transparent;
  border: unset;
  display: block;
  right: 16px;
  fill: var(--navyblue);
  cursor: pointer;
}

.mobile-socmed-link-items{
  margin: 0;
}

/* HERO */
 .section-hero {
   display: flex;
   flex-direction: column;
   align-items: center;
   align-content: center;
   justify-content: center;
   text-align: center;
   padding: 112px 0;
   background-image: linear-gradient(rgba(46, 47, 66, 0.7),
       rgba(46, 47, 66, 0.7)),
     url(../images/hero/hero_mobile.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-color: var(--navyblue);
   width: 100%;
   min-width: 320px;;
 }

 .hero-text {
  color: var(--white);
 }

.hero-text,
.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  margin-bottom:72px;
}

.title {
  color:var(--navyblue)
}

.features-list{
  display: flex;
  gap:24px 72px;
}

.team-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 72px;
  margin: 0 auto;
  padding: 0 15px;;
}

.features-icon {
  display: none;
}

.features-list
.features-items {
  color: var(--navyblue);
  margin-bottom:8px;
}

.section-services {
  display: none;
}

.section-team {
  background-color: var(--cloud);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.team-list {
  gap: 72px;
}

.team-details {
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap:8px;
}

.socmed-links {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 24px;
  justify-content: center;
  align-content: center;
}

.team-name {
  margin-top:32px;
}

/* .section-customers {
  padding: 0
} */
.customer-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 72px 16px;
  margin: 0;
}

.customer-list-items {
  padding: 16px 40px;
  border: 1px solid var(--light_slate);
  border-radius: 4px;
  color: var(--light_slate);
  transition: border-color 250ms var(--cubic-bezier);
  margin: 0;
}

.customer-list-items:hover {
  border-color: var(--ocean);
}

.customer-list-items:hover .icon-clients-link {
  color: var(--ocean);
}

.icon-clients-link {
  color: var(--light_slate);
  transition: color 250ms var(--cubic-bezier);
}

.customer-icon {
  width: 110px;
  height: 56px;
  flex-shrink: 0;
  fill: currentColor;
  transition: fill 250ms var(--cubic-bezier);
  display: block;
}

.section-footer {
  display: flex;
  flex-direction: column;
}

.footer-container {
  margin: 0 auto;
  padding-top: 96px 15px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--navyblue);
  color: var(--white);
}

.logo-container {
  margin: 0 auto;
  color: var(--cloud);
}

.footer-logo-studio {
  color: var(--cloud);
}
.footer-paragraph {
  margin-top:17.5px;
}
.socmed-container {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 72px;
}

.footer-socmed-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
}

.footer-socmed-header {
  text-align: center;
  margin-bottom: 16px;
}

.subscription {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.subscribe-button {
  margin-top: 16px;
}

.footer-input {
  margin: 0 auto;
}

  /* Mobile View */

  .topline {
    border-bottom: 1px solid var(--cornflower);
    background: var(--white);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }

  .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .menu-toggle svg {
    fill:var(--navyblue)
  }

  .burger-button {
    background-color:var(--white);
    width: 32px;
    height: 22px;
    right: 0;
  }

  .menu-container.is-open {
    transform: translateX(0);
  }

  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 80px 35px 40px 40px;
    background-color: var(--white);
    box-shadow:0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    transform: translateX(100%);
    transition: transform 250ms var(--cubic-bezier);
  }

  .mobile-menu{
    padding: 0;
    margin: 0;
    list-style: none;  
  } 

  .mobile-close-btn {
    min-width: 24px;
    min-height: 24px;
    background-color: var(--white);
    border: 1px solid var(--cornflower);
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    transition: background-color,border,fill 250ms var(--cubic-bezier);
  }

  .mobile-close-icon {
    padding:0px;
    width: 24px;
    height: 24px;
    fill:var(--navyblue)
  }

  .mobile-close-btn:hover{
    background-color:var(--ocean);
    border: var(--ocean);
    fill: var(--white);
  }

  .mobile-close-btn:hover svg{
    fill: var(--white);
  }

  .mobile-menu-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: left;
    list-style: none;
    gap: 40px;
  }

  .mobile-menu-item {
    font-family: 'Roboto', 'sans-serif';
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    align-content: flex-start;
    margin: 0;
  }

  .mobile-menu-link{
    color: var(--navyblue);
    transition: color 250ms var(--cubic-bezier);
    padding: 0;
    margin: 0;
  }

  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: var(--iris);
  }

  .mobile-contacts-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 40px;
    margin-bottom: 48px;
    margin-top: auto;
  }

  .mobile-contacts-link{
    display: block;
    color: var(--navyblue);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    font-size: 20px;
    font-family: 'Roboto', 'sans-serif'; 
    transition-property: font-weight, line-height, letter-spacing, color, font-size;
    transition-duration:250ms var(--cubic-bezier);
  }

  .mobile-contacts-link:hover,
  .mobile-contacts-link:focus {
    color: var(--iris);
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    font-size: 36px;
  }

  .mobile-socmed-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 56px;
  }

  .mobile-socmed-link {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: var(--iris);
    transition: background-color 250ms var(--cubic-bezier);
  }

  .mobile-socmed-link:hover,
  .mobile-socmed-link:focus {
    background-color: var(--green);
  }

  .mobile-socmed-icon {
    fill: var(--cloud);
  }

  

